<div class="panel panel-success">
  <div class="panel-heading">
    <h4>{{vm.title}}</h4>
  </div>
  <form ng-submit="vm.save()" name="form">
    <div class="panel-body">

      <div class="form-group">

        <div class="row">
          <div class="col-md-6">
            <student-select gs-model="vm.entity.student" students="vm.students"></student-select>
          </div>
          <div class="col-md-6">
            <group-select gs-model="vm.entity.group"></group-select>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6">
            <professor-select gs-model="vm.entity.professor"></professor-select>
          </div>
          <div class="col-md-6">
            <wp-input wp-label="Grade"
                      wp-type="number"
                      wp-model="vm.entity.gradeValue"
                      wp-required="true"
                      wp-min="6"
                      wp-max="10"
                      >

            </wp-input></div>
        </div>
      </div>


    </div>
    <!-- panel footer -->
    <div class="panel-footer text-right">
      <div class="panel panel-danger text-center text-danger" ng-show="vm.saveErrMsg">
        {{vm.saveErrMsg}}
      </div>
      <div class="panel panel-success text-center text-success" ng-show="vm.saveOkMsg">
        {{vm.saveOkMsg}}
      </div>
      <button class="btn btn-default" type="reset"
              ng-click="vm.clear()">
        <i class="fa fa-fw fa-refresh"></i>
        Clear
      </button>
      <button class="btn btn-primary"
              type="submit"
              ng-disabled="form.$invalid">
        <i class="fa fa-fw fa-save"></i>
        Save
      </button>
    </div>
  </form>
</div>

<!-- smart table area -->
<!--<div class="row">
  <div class="col-md-12">
    <table st-table="professorEntities" st-safe-src="vm.professorEntities" ng-show="vm.professorEntities.length>0" class="table table-bordered table-striped">
      <thead>
      <tr>
        <th st-sort="firstName">Firstname</th>
        <th st-sort="lastName">Lastname</th>
        <th st-sort="email">Email</th>
        <th>Actions</th>
      </tr>
      <tr>
        <th colspan="4"> <input type="text" class="form-control"  st-search="firstName" st-delay="400" type="search" placeholder="search by professor name..."> </th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="e in professorEntities | orderBy:['firstName', 'lastName'] | filter:searchProfName">
        <td>{{e.firstName}}</td>
        <td>{{e.lastName | uppercase}}</td>
        <td>{{e.email}}</td>
        <td>
          <button class="btn btn-xs btn-default"
                  ng-click="vm.edit(e)">
            Edit
          </button>
          <button class="btn btn-xs btn-danger"
                  ng-click="vm.remove(e)">
            Remove
          </button>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="5" class="text-center">
          <div st-pagination="" st-items-by-page="3" st-displayed-pages="3"></div>
        </td>
      </tr>
      </tfoot>
    </table> </br>

    <div class="panel panel-warning text-warning" ng-hide="vm.professorEntities.length>0">
      There are no professors!
    </div>
  </div>
</div>-->




