<label>Select professor</label>
<ui-select ng-model="$ctrl.gsModel"
           ng-required="true"
           title="Professor"
           ng-show="$ctrl.professors.length>0">
  <ui-select-match
    placeholder="Select your professor...">
    <span>{{$select.selected.firstName+" "+$select.selected.lastName}}</span>
  </ui-select-match>
  <ui-select-choices
    repeat="professor in ($ctrl.professors | filter:$select.search)"
    position="auto">
    {{professor.firstName+" "+professor.lastName}}
  </ui-select-choices>
</ui-select>
<div class="panel panel-danger text-danger" ng-hide="$ctrl.professors.length>0">
  There are no professors!!!
</div>
